*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10;

  color: rgb(83, 85, 84);
  line-height: 1.5;
  margin: 0;

  background-color: #f95669;
}

.box-1 {
  display: flex;
  order: 1px;
}
.div-bgc {
  height: 400px;
  width: 500px;
  border-radius: 10px;
  background-color: rgba(209, 206, 206, 0.658);
}
.sign-button {
  position: relative;
  left: 15px;
}
.register-top-label {
  color: rgb(247, 244, 244);
  position: relative;
  left: 0px;
}
.form-register-form {
  margin-top: 70px;
  position: relative;

  text-align: center;

  left: 550px;
}
.pupulary-logo-banner {
  display: flex;

  position: relative;
  left: 120px;
}
.div-errors-login {
  margin: 20px;
  position: relative;
  right: 580px;
}
.div-errors-register {
  margin: 20px;
}
.logo {
  background-color: white;
  position: relative;
  left: 1000;
}
