.header {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: radius 0px;
    margin: 0px;
    padding: 30px;

    & a + a,
    span + a {
      margin-left: 0px;
    }
    & div {
      margin-left: auto;
      display: flex;
      gap: 2px;
    }
  }
}

.footer {
  background-color: white;
  height: 300px;
  border-radius: 0px;
  margin: 0px;
  display: flex;
  margin-top: 20px;
  padding: 15px;
  border-top: 2px solid var(--main-bg-color);
}
